*{
	margin: 0;
	padding: 0;
	line-height: 1;
}
.long{
	background-color: violet;
	width: 50%;
	/* border: 5px solid rgba(127, 34, 34, 1); */
	background: linear-gradient(lightgreen,mediumvioletred, royalblue);
	height: 1000px;
	height: 100vh;

}
.blue{

	background-color: turquoise;
	width: 50%;
	height: 500px;

	overflow: auto;
}