
#roll #roller {

	/*transition: top .2s;*/
	/*-moz-transition: top .2s; /!* Firefox 4 *!/*/
	/*-webkit-transition: top .2s; /!* Safari ºÍ Chrome *!/*/
	/*-o-transition: top .2s; /!* Opera *!/*/
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}